<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sistema de eventos</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/custom.css">
</head>
<body>
 <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Eventos <i class="fa fa-bell"></i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#about">Sobre Mi</a></li>
            <li><a href="#contact">Contacto</a></li>
            <!-- Drop dow -->
            <li class="dropdown" >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" style="font-size: 1.2em;"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu" id="dropDown">
                <li><a href="#">Setting</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout">Logout</a></li>
           

              </ul>
            </li><!-- End drop down -->
          </ul>
 		
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<div id="eventApp" class="container"> <!-- Container -->
		<p id="app_title">Sistema de eventos</p>
		
		<div class="row"> <!-- Row -->
			<div class="col-md-6">
		
				 <p @show="message.length > 0" id="message">{{message}} </p>
				
				<form method="post" action="" @submit="createEvent($event)">
				  <div class="form-group">
				    <label for="title">Titulo</label>
				    <input type="text" class="form-control" id="title" name="title" placeholder="Titulo del evento"
				    v-model="title">
				  </div>
				  <div class="form-group">
				    <label for="description"> Descripción</label>
				    <input type="text" class="form-control" placeholder="descripción del evento" name="description"
				    v-model="description">
				  </div>
				  <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
				</form>
			</div>
			<div class="col-md-6">
				<p id="events_title">Eventos recientes</p>
				<p @show="deleted_message.length > 0" id="deleted_message">{{deleted_message}} </p>
				<ul v-for="event in events">
					<p id="title">{{ event.title}} </p>
					<i id="calendar" class="fa fa-calendar" ></i>&nbsp;
					{{ event.createdAt}}
					<p id="description">{{ event.description}}</p>
					<button class="btn btn-danger" @click="deleteEvent(event.id)">Delete</button>
					<hr>
					
				</ul>
			</div>
		</div> <!-- end Row -->
	</div> <!-- end Container -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.17/vue-resource.js"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="js/app.js"></script>
</body>
</html>